.apw-widget-settings {
	margin-top: 1em;
	margin-bottom: 1em;
}

.apw-widget-settings-posts li {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.apw-widget-settings-posts li > .icon-move {
	position: absolute;
	left: 0;
	top: 50%;
	font-size: 16px;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.apw-widget-settings-posts li > .remove-btn {
	position: absolute;
	right: 0;
	top: 50%;
	font-size: 16px;
	text-decoration: none;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
