ul.any-posts {
	list-style: none;
	margin: 0;
	padding: 0;
}

.any-posts .post {
	margin-bottom: 20px;
}

.any-posts .post:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.any-posts .post__image {
	float: left;
	width: 100px;
	margin-right: 15px;
}

.any-posts .post__image img {
	display: block;
}
